requests
numpy==1.23.5  # or another compatible version
beautifulsoup4
googlesearch-python
langdetect
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
streamlit
pandas
matplotlib
